body {
    background: rgb(1, 66, 68);
}

p {
    color: whitesmoke;
}

footer p {
    font-family: cursive;
    font-size: small;
}

h1 {
    background: whitesmoke;
    border: 2px black;
    border-style: dashed;
    text-align: center;
}

h2 {
    color: lightcoral; 
    font-style: italic; 
    font-weight: lighter;
}

ul {
    padding-right: 50px;
}

.sector {
    background-color: whitesmoke; 
    border: 2px solid black;
    width: fit-content;
    color: black;
    padding-left: 20px;
    height: 150px;
    margin: 30px auto;
    color: black;
}

#cool-sites {
    border-color: lightcoral;
}