body {
    background: rgb(1, 66, 68);
}

p {
    color: whitesmoke;
}

footer p {
    font-family: cursive;
}

h1 {
    background: whitesmoke;
    border: 2px black;
    border-style: dashed;
}

h2 {
    color: lightslategray; 
    font-style: italic; 
}

li {
    background-color: whitesmoke; 
}